@use '../regular/utils' as *;

.content {
  @include grid(400px);
  overflow-y: hidden;
}

.content--margen {
  height: 70vh;
  margin: 0 100px;
}

.cuerpo__h2 {
  font-size: size(14);
  font-weight: 500;
  line-height: 1.4em;
}

.cuerpo__h2--span {
  font-size: size(20);
  font-weight: 900;
  color: $verde;
}

.cuerpo__button {
  font-size: size(5);
  color: $blanco;

  margin: 25px 0;
  padding: 10px 25px;
  background-color: $verde;
  border: none;
  border-radius: 25px;

  cursor: pointer;
  transition: 0.5s;
}

.cuerpo__button:hover {
  transform: scale(1.1);
}

.fotos {
  @include flex;
  background-color: $verde;
  border-radius: 50%;
  clip-path: circle(38% at 50% 50%);
}

.fotos__img {
  height: 340px;
}
