@use 'utils' as *;
@use '../components/home' as *;
@use '../components/stores' as *;
@use '../components/about' as *;
@use '../components/menu' as *;

@media (max-width: 1020px) {
  .content--margen {
    height: 70vh;
    margin: 0 25px;
  }

  .cuerpo__h2 {
    font-size: 33px;
  }

  .cuerpo__h2--span {
    font-size: 50px;
  }
}

@media (max-width: 849px) {
  .fotos {
    height: 17vh;
    margin: 0.25vh 0;

    background-color: $verde;
    border-radius: 100px;
    background-image: url("https://i.postimg.cc/bvpSGLzr/image-6.png");
    background-blend-mode: exclusion;
    background-repeat: repeat;
    clip-path: none;
  }

  .fotos__img {
    height: 200px;
    margin-top: -25px;
  }

  //Stores
  .stores__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .texto__div {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .texto__svg {
    svg {
      height: 40px;
    }
  }

  .stores__img {
    img {
      width: 300px;
    }
  }

  //About

  .iconos__flex {
    svg {
      height: 50px;
    }

    p {
      font-size: size(4);
    }
  }

  .iconos {
    padding: 0;
  }
}

@media (max-width: 540px) {
  .content--margen {
    margin: 0 10px;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /*Barras*/
  .header {
    height: 10vh;
  }

  .header__logo {
    height: 50px;
    width: 50px;
    margin: 0 10px;
  }

  .botones__ul {
    height: 10vh;
  }

  .botones__img {
    height: 50px;
    margin: 0 9px;
  }

  .botones__svg {
    height: 15px;
    width: 15px;
  }

  .fotos__img {
    height: 125px;
    margin-top: -25px;
  }

  .menu__cafes {
    height: 80vh;
  }

  //Stores

  .stores__img {
    img {
      width: 250px;
    }
  }
}

/*Mobile*/

@media (max-width: 450px) {
  .cuerpo__h2 {
    font-size: size(8);
  }

  .cuerpo__h2--span {
    font-size: 40px;
  }

  .botones__li {
    margin: 0 10px;
  }

  .header__li {
    font-size: size(4);
    padding: 0 10px;
  }

  p {
    font-size: size(3.5);
  }

  //Stores
  .stores__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .stores__texto {
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));

    .texto__svg svg {
      height: 30px;
    }
  }
  .stores__img img {
    width: 175px;
    border-radius: 25px;
    clip-path: none;
  }

  //About
  .about__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .iconos__flex {
      padding: 0;
    }
  }
}

//Landscape

@media (max-width: 540px) and (orientation: landscape) {
  .header__logo {
    height: 35px;
  }

  .stores__texto {
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  }

  .cuerpo__h2 {
    font-size: size(7);
  }

  .cuerpo__h2--span {
    font-size: size(11);
  }

  .botones__img {
    height: 25px;
  }

  .header__li {
    font-size: size(4);
  }

  //Stores

  .stores__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    .texto__svg svg {
      height: 30px;
    }

    .stores__img img {
      display: flex;
      width: 250px;
    }
  }

  p {
    font-size: size(3.5);
  }

  //About

  .iconos__flex {
    padding: 0;
  }
}
